<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>The awesome Spell Checker!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

<script src="{{ url_for('static', filename='../static/async.js') }}"></script>

<form>
                
  <input type ="button"
  value = "Back"
  onclick="history.back()"

</form> 

</head>

<body>
<!-- partial:index.partial.html -->
<div  style=" padding: .5%;">

  <img src="../static/img/logo.png" style="width: 5%; height: 5%; float: left; position: relative; margin: .2%;">
  <a href="{{ url_for('login') }}" type="button" class="btn btn-primary"   aria-pressed="false"  style="float: right;margin: .2%;">
    Login
  </a>
  <a href="{{ url_for('register') }}" type="button" class="btn btn-primary "  aria-pressed="false"  style="float: right;margin: .2%;">
    Register
  </a>
  <form>
                
    <input type ="button"
    value = "Back"
    onclick="history.back()"

  </form> 
</div>

<div class="container slider-one-active">

  <div class="steps">
    <div class="step step-one">
      <div class="liner"></div>
      <span>Language</span>
    </div>
    <div class="step step-two">
      <div class="liner"></div>
      <span>Formality</span>
    </div>
    <div class="step step-three">
      <div class="liner"></div>
      <span>Text</span>
   </div>
   
   <form>
                
    <input type ="button"
    value = "Back"
    onclick="history.back()"

  </form> 


  </div>



  <div class="line">
    <div class="dot-move"></div>
    <div class="dot zero"></div>
    <div class="dot center"></div>
    <div class="dot full"></div>
  </div>
  <div class="slider-ctr">
    <div class="slider">
      <form class="slider-form slider-one" method="POST">
        


      <div class="form-group" style="justify-content: center;" >
        
        <label for="Language_Selection"><h2>Language</h2></label>
        <select class="form-control" id="Language_Selection" style="width: 100%;" form="input_text_form" name='language_selector'>
          <option selected value="en">English</option>
          <option disabled value="es">Spanish</option>
          <option disabled >More coming soon!</option>

        </select>
        
      </div>

        <button class="first next">Next Step</button>
      </form>
      <form class="slider-form slider-two" method="POST">

        <div class="form-group" style="justify-content: center;" >
         
            <label for="Language_Selection"><h2>How Formal?</h2></label>
            <select class="form-control" id="Formality_Selection" style="width: 100%;" form="input_text_form" name='formality_selector'>
              <option selected value="formal">Formal</option>
              <option value="Informal">Informal</option>  
            </select>
        
        </div>

        <button class="second next">Next Step</button>
      </form>

      <div class="slider-form slider-three">
          <div id="form-group">
            <form  id="input_text_form" method="POST">   
              <label for="Text_box"><h2>Enter your text here! :)</h2></label>
              <textarea class="form-control" id="Text_box" name='input_text' rows="3" style="width: 100%; margin-bottom: 5%;" placeholder="Enter your text here..." form="input_text_form"></textarea>
                    
              <input type="submit" onclick="async()" class="btn btn-primary" id="spell_check_btn"  name="submit" value="Check Spelling!" form="input_text_form"></input>
            </form>  
          </div>

        
        <br>
            <span id="Text_display" ></span>
<!--Word counter system below-->            
 
            <p>
              Word Count:
              <span id="word_count">0</span>
            </p>


            <script>
              document
                .querySelector("#Text_box")
                .addEventListener("keyup", function countWord() {
                  let res = [];
                  let str = this.value.replace(/[\t\n\r\.\?\!]/gm, " ").split(" ");
                  str.map((s) => {
                    let trimStr = s.trim();
                    if (trimStr.length > 0) {
                      res.push(trimStr);
                    }
                  });
                  document.querySelector("#word_count").innerText = res.length;
                });
            </script>      
        </div>    
        <form>
          
          <input type ="button"
          value = "Back"
          onclick="history.back()"

        </form>   
    </div>
  </div>



</div>


<!-- partial -->

<script src="../static/script.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>
