<!doctype html>
<html lang="en">
  <head>
  	<title>SLUSpell</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/style.css">

		<script src="{{ url_for('static', filename='../static/js/async.js') }}"></script>
		<script src="../static/js/async.js"></script>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
	  <script src="{{ url_for('static', filename='../static/js/async.js') }}"></script> 
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
						<i class="fa fa-bars"></i>
						<span class="sr-only">Menu</span>
	        		</button>
        		</div>
				<div class="p-4 pt-5">
		  			<h1><a href="index.html" class="logo">SLUSpell</a></h1>
	        		<ul class="list-unstyled components mb-5">
	          			<li class="active">
						<a aria-expanded="false" >Language</a>
						<select class="form-control dropdown-toggle"  data-toggle="collapse" aria-expanded="false" id="Language_Selection" style="width: 100%;" name='language_selector'>
							<option selected value="en">English</option>
							<option disabled value="es">Spanish</option>
							<option disabled >More coming soon!</option>
						</select>
	          			</li>				
			 
			  			<br>
	          			<li>
              			<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" >Formality</a>
						<select class="form-control" id="Formality_Selection" style="width: 100%;"  name='formality_selector'>
							<option selected value="formal">Formal</option>
							<option value="informal">Informal</option>  
						</select>  
	          			</li>
	        		</ul>


					<div class="footer">
						<p> <!-- Copyrihgt -->
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart" aria-hidden="true"></i> by <a style="color:lightgrey !important;" href="https://github.com/MahdiRahbar/SLUSpell" target="_blank">SLUSpell</a>
						</p>
					</div>
	    		</div>
    		</nav>

        	<!-- Page Content  -->
			<div id="content" class="container p-4 p-md-5 pt-5">
				<div class="row">
					<div id="Text_box" name='input_text' class="col-md-8 p-4 p-md-5 pt-5" contenteditable="true" textPlaceholder="Type your text here..." ></div>
					
					<div class="lead col-4 p-4 p-md-5 pt-5" >
						<div class="h-75" id="Text_display" textPlaceholder="Looks awesome! :)"></div>
								<p id="indicator"></p> 
							<p class="" style="position:absolute; bottom:0;" >
								<!-- <p class="fixed " style="bottom: 0%;" >Word Count: <span id="word_count">0</span></p>							 -->
							</p>
						
					</div>
				</div>
			</div>	

		</div>

		<!-- <script>
			// setInterval(function(){loadXMLDoc();},5000);
			function listen(){
			setInterval(async,5000);
		};
		</script> -->


    <script src="../static/js/popper.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
	
	<script src="../static/js/script.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

  </body>
</html>